$primary: #205081;

$table-striped-bg: lighten($primary, 66%);
$table-hover-bg: lighten($primary, 60%);

$nav-link-padding-y: .2rem;
$nav-link-padding-x: .5rem;
$nav-link-font-size: .8rem;

$nav-tabs-link-hover-border-color: $primary;